/*
 * Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * The default style sheet used for document transitions.
 * See third_party/blink/renderer/core/document_transition/README.md for details
 */

@namespace "http://www.w3.org/1999/xhtml";

html::page-transition {
  position: fixed;
  top: 0;
  left: 0;

  /* Size will be set dynamically to correctly account for UI such as
     virtual-keyboards */

  pointer-events: none;
}

html::page-transition-container(*) {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;

  /* The transform applied to the container includes any translation necessary
     for the original element's transform-origin. */
  transform-origin: top left;

  pointer-events: auto;
}

::page-transition-image-wrapper(*) {
  position: absolute;
  inset: 0;
}

::page-transition-incoming-image(*),
::page-transition-outgoing-image(*) {
  position: absolute;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: auto;
  will-change: opacity;
}
